<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
  <style>
    .pagetitle{
      text-align: center;
    }
    
    .clearAll{
      float: right;
      font-weight: bold;
    }

    .DeleteSpecificChat{
      font-weight: bold;
    }
  </style>
</head>
<body>
  <br/>
  <br/>
    <h1 class="pagetitle">Lock Down Chat</h4>
      <h2 class="pagetitle">Admin View</h2>
      <br/>
      <br/>
      <!-- <form method="POST" action="/admin/infinity/Clear4WeeksAgoChatRms">
        <button id="clear4WeeksAgoChatRmsID" type="button" data-toggle="modal" data-target="#exampleModal" class="btn btn-danger clearAll">Clear 4 Weeks Ago Chat Rooms</button>
        <button id="clear4WeeksAgoChatRmsBtnID" type="submit" data-toggle="modal" data-target="#exampleModal" class="btn btn-danger clearAll" hidden>Clear 4 Weeks Ago Chat Rooms</button>
    </form> -->
    <!-- <br/>
    <br/>
    <br/>
    <br/> -->
      <form method="POST" action="/admin/infinity">
        <button id="clearChatsID" type="button" data-toggle="modal" data-target="#exampleModal" class="btn btn-danger clearAll">Clear All Chat Rooms</button>
        <button id="clearChatsBtnID" type="submit" data-toggle="modal" data-target="#exampleModal" class="btn btn-danger clearAll" hidden>Clear All Chat Rooms</button>
    </form>

    <br/>
    <br/>
    <br/>
    <br/>
    <div id="flashAlertID">
    <%- include('./partials/messages.ejs'); %>
  </div>
    <div id="messageAlertID" class="alert alert-success alert-dismissible fade show" role="alert" hidden>

      
  </div>
    <table id="adminChatsID" class="table table-striped table-responsive">
      <thead>
        <tr>
          <th scope="col">Chat Room ID</th>
          <th scope="col">Date Time of Last Message</th>
          <th scope="col">Clear?</th>
        </tr>
      </thead>
      <tbody>
        <!-- for loop all the chat rooms here -->
        <% for (var i = 0; i < ChatRmIDs.length; i++) { %>

                <tr id="theRowOfChatID<%= ChatRmIDs[i] %>">
                  <td><%= ChatRmIDs[i] %></td>
                  <td><%= DateTimeOfLastMsgInEachChatRm[i] %></td>
                  <td>
                    <form method="POST" action="/admin/infinity/<%= ChatRmIDs[i] %>/delete">
                    <button id="clearSpecificChatsID<%= ChatRmIDs[i] %>" type="button" data-toggle="modal" data-target="#exampleModal" onclick="clearspecificchat(this.id)" class="btn btn-danger DeleteSpecificChat"><i class="fas fa-trash-alt"></i> Delete</button>
                    <button id="clearSpecificChatsBtnID<%= ChatRmIDs[i] %>" type="submit" data-toggle="modal" data-target="#exampleModal" class="btn btn-danger DeleteSpecificChat" hidden><i class="fas fa-trash-alt"></i> Delete</button>
                </form>
                  </td>
                </tr>
        <% } %>

      </tbody>
    </table>


    <!-- Modal -->
<div id="ModalPopUpForDeletion">
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel"></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" id="modal-bodyID">
              <!-- delete msg here -->
          </div>
          <div class="modal-footer" id="modalfooter" name="modalfooter">
            <button type="button" class="btn btn-secondary" style="font-weight: bold;" data-dismiss="modal">Cancel</button>
            <button type="button" name="ConfirmDeleteBtnInModal" id="ConfirmDeleteBtnInModal" class="btn btn-danger" style="font-weight: bold;">Yes</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    var socket = io();
    $(() => {

    })

    socket.on('adminNewChat', displayNewChat)
    socket.on('adminUpdateLastMsgDateTime', updateLastMsgDateTime)
    socket.on('adminUpdateAfterClearMessages', UpdateAfterClearMessages)
    socket.on('adminUpdateAfterClearAllChatRooms', UpdateAfterClearAllChatRooms)
    socket.on('adminUpdateAfterClearSpecificChatRoom', UpdateAfterClearSpecificChatRoom)
    socket.on('adminUpdateAfter4WeeksAgoChatRooms', UpdateAfter4WeeksAgoChatRooms)
    
    function displayNewChat(theChat){
      $("#adminChatsID").find('tbody').append(`<tr id="theRowOfChatID${theChat.chatID}">
                   <td>${theChat.chatID}</td>
                   <td>-</td>
                   <td>
                     <form method="POST" action="/admin/infinity/${theChat.chatID}/delete">
                     <button id="clearSpecificChatsID${theChat.chatID}" type="button" data-toggle="modal" data-target="#exampleModal" onclick="clearspecificchat(this.id)" class="btn btn-danger DeleteSpecificChat"><i class="fas fa-trash-alt"></i> Delete</button>
                     <button id="clearSpecificChatsBtnID${theChat.chatID}" type="submit" data-toggle="modal" data-target="#exampleModal" class="btn btn-danger DeleteSpecificChat" hidden><i class="fas fa-trash-alt"></i> Delete</button>
                 </form>
                   </td>
                 </tr>`);
    }

    function updateLastMsgDateTime(theLastMessage){
      var table = document.getElementById("adminChatsID");
      var rowIndex = document.getElementById(`theRowOfChatID${theLastMessage.chatID}`).rowIndex;
      table.rows[rowIndex].cells[1].innerHTML = `${theLastMessage.dateTime}`
      //call function for sorting table (oldest - newest)
      checkEverytime();
    }

    function UpdateAfterClearMessages(theChatID){
      //Update the last message datetime everytime a message is posted in chat room
      var table = document.getElementById("adminChatsID");
      var rowIndex = document.getElementById(`theRowOfChatID${theChatID}`).rowIndex;
      table.rows[rowIndex].cells[1].innerHTML = `-`
      //call function for sorting table (oldest - newest)
      checkEverytime();
    }

    function UpdateAfterClearAllChatRooms(ChatRmIDsArray){
      var table = document.getElementById("adminChatsID");
      var tableref = document.getElementById("adminChatsID").getElementsByTagName('tbody')[0];
      tableref.innerHTML = "";
      
      document.getElementById("flashAlertID").innerHTML = '';
      document.getElementById("messageAlertID").innerHTML = '';
      document.getElementById("messageAlertID").hidden = false;
      document.getElementById("messageAlertID").innerHTML = `Successfully cleared all chats!<button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                             <span aria-hidden="true">&times;</span>
                                                             </button>`
    }


    function UpdateAfter4WeeksAgoChatRooms(ChatRmIDsArray){
      var table = document.getElementById("adminChatsID");
      for(i = 0; i < ChatRmIDsArray.length; i++){
        var rowIndex = document.getElementById(`theRowOfChatID${ChatRmIDsArray[i]}`).rowIndex;
        table.deleteRow(rowIndex);
        }

        document.getElementById("flashAlertID").innerHTML = '';
        document.getElementById("messageAlertID").innerHTML = '';
        document.getElementById("messageAlertID").hidden = false;
        document.getElementById("messageAlertID").innerHTML = `Successfully cleared chat rooms from 4 weeks ago!<button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                              <span aria-hidden="true">&times;</span>
                                                              </button>`
    }


    function UpdateAfterClearSpecificChatRoom(ChatRmID){
      var table = document.getElementById("adminChatsID");
      var rowIndex = document.getElementById(`theRowOfChatID${ChatRmID}`).rowIndex;
      table.deleteRow(rowIndex);
      
      document.getElementById("flashAlertID").innerHTML = '';
      document.getElementById("messageAlertID").innerHTML = '';
      document.getElementById("messageAlertID").hidden = false;
      document.getElementById("messageAlertID").innerHTML = `Successfully deleted ${ChatRmID} chat!<button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                             <span aria-hidden="true">&times;</span>
                                                             </button>`
    }

    function checkEverytime(){
      var ChatRmIDArray = [];
      var DateTimeOfLastMsgInEachChatRmArray = [];

      var ChatRmIDWithoutDateTime = [];
      var WithoutDateTimeOfLastMsgInEachChatRmArray = [];

      var table = document.getElementById("adminChatsID");
      var tableref = document.getElementById("adminChatsID").getElementsByTagName('tbody')[0];

      for(a = 1; a < table.rows.length; a++){
        if(table.rows[a].cells[1].innerHTML != '-'){
          ChatRmIDArray.push(table.rows[a].cells[0].innerHTML)
          DateTimeOfLastMsgInEachChatRmArray.push(table.rows[a].cells[1].innerHTML)
        }
        else{
          ChatRmIDWithoutDateTime.push(table.rows[a].cells[0].innerHTML)
          WithoutDateTimeOfLastMsgInEachChatRmArray.push(table.rows[a].cells[1].innerHTML)
        }
      }


          var list = [];
          for (var j = 0; j < ChatRmIDArray.length; j++) 
          list.push({'ChatRmID': ChatRmIDArray[j], 'LastMsgDateTime': DateTimeOfLastMsgInEachChatRmArray[j]});
          list.sort(function(a, b) {
            return ((a.LastMsgDateTime < b.LastMsgDateTime) ? -1 : ((a.LastMsgDateTime == b.LastMsgDateTime) ? 0 : 1));
          });

          for (var k = 0; k < list.length; k++) {
            ChatRmIDArray[k] = list[k].ChatRmID;
            DateTimeOfLastMsgInEachChatRmArray[k] = list[k].LastMsgDateTime;
          }

          ChatRmIDArray = ChatRmIDArray.concat(ChatRmIDWithoutDateTime);
          DateTimeOfLastMsgInEachChatRmArray = DateTimeOfLastMsgInEachChatRmArray.concat(WithoutDateTimeOfLastMsgInEachChatRmArray);

          tableref.innerHTML = "";
          for(i = 0; i < ChatRmIDArray.length; i++){
            tableref.innerHTML += `<tr id="theRowOfChatID${ChatRmIDArray[i]}">
                  <td>${ChatRmIDArray[i]}</td>
                  <td>${DateTimeOfLastMsgInEachChatRmArray[i]}</td>
                  <td>
                    <form method="POST" action="/admin/infinity/${ChatRmIDArray[i]}/delete">
                    <button id="clearSpecificChatsID${ChatRmIDArray[i]}" type="button" data-toggle="modal" data-target="#exampleModal" onclick="clearspecificchat(this.id)" class="btn btn-danger DeleteSpecificChat"><i class="fas fa-trash-alt"></i> Delete</button>
                    <button id="clearSpecificChatsBtnID${ChatRmIDArray[i]}" type="submit" data-toggle="modal" data-target="#exampleModal" class="btn btn-danger DeleteSpecificChat" hidden><i class="fas fa-trash-alt"></i> Delete</button>
                </form>
                  </td>
                </tr>`;
          }
          

    }


    
    function clearspecificchat(ClearSpecificChatID){
            document.getElementById("modal-bodyID").innerHTML = "";
            document.getElementById("modal-bodyID").innerHTML += "<p hidden id='idOfDeleteBtn'>" + ClearSpecificChatID + "</p>";
            document.getElementById("modal-bodyID").innerHTML += "<p>Are you sure to delete this chat room?</p>";
      $('#exampleModal').modal('show')
    }

    $("#clearChatsID").click(function(){
            document.getElementById("modal-bodyID").innerHTML = "";
            document.getElementById("modal-bodyID").innerHTML += "<p hidden id='idOfDeleteBtn'>clearChatsID</p>";
            document.getElementById("modal-bodyID").innerHTML += "<p>Are you sure to clear all chat rooms?</p>";
      $('#exampleModal').modal('show')
  });

  // $("#clear4WeeksAgoChatRmsID").click(function(){
  //           document.getElementById("modal-bodyID").innerHTML = "";
  //           document.getElementById("modal-bodyID").innerHTML += "<p hidden id='idOfDeleteBtn'>clear4WeeksAgoChatRmsID</p>";
  //           document.getElementById("modal-bodyID").innerHTML += "<p>Are you sure to clear 4 Weeks ago Chat Rooms?</p>";
  //     $('#exampleModal').modal('show')
  // });

  $('#ModalPopUpForDeletion').on('click', 'button[name$="ConfirmDeleteBtnInModal"]', function () {
      var idOfBtn = document.getElementById("idOfDeleteBtn").innerHTML;
      var ClearSpecificChatText = idOfBtn.substring(0, 20);
      var ClearSpecificChatID = idOfBtn.substring(20, idOfBtn.length);


      $('#exampleModal').modal('hide')

      if(idOfBtn == 'clearChatsID')
      {
        $('#clearChatsBtnID').click();
      }
      else if(ClearSpecificChatText == 'clearSpecificChatsID'){
        $('#clearSpecificChatsBtnID' + ClearSpecificChatID).click();
      }
      // else if(idOfBtn == 'clear4WeeksAgoChatRmsID'){
      //   $('#clear4WeeksAgoChatRmsBtnID').click();
      // }
  });
</script>
</body>
</html>