<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
</head>
<body>
<div class="container">
    <br>
    <%- include('./partials/messages.ejs'); %>

    <% if(isInstructor == 'false') { %>
    <form method="POST" action="/<%= MessageID %>">
    <div class="jumbotron">
        <h1 class="display-4">Send Message</h1>
        <h6>Only post questions about the eSA in this chat room. If you breach any of the assessment regulations or instructions by posting the answers in the chat room, you are liable to disciplinary action.</h6>
        <br>
        <input id="name" name="name" class="form-control" placeholder="Name (Module Group)" required>
        <br>
        <textarea id="message" name="message" class="form-control" placeholder="Your Message Here" required></textarea>
        <br>
        <button id="send" type="submit" class="btn btn-success">Send</button>
    </div>
    </form>
    <% } else{ %>
        <form method="GET" action="/<%= MessageID %>/instructor/clear">
            <button id="clearMessagesID" type="button" data-toggle="modal" data-target="#exampleModal" class="btn btn-danger" style="font-weight: bold; float: right;">Clear All Messages</button>
            <button id="clearMessagesBtnID" type="submit" data-toggle="modal" data-target="#exampleModal" class="btn btn-danger" style="font-weight: bold; float: right;" hidden>Clear All Messages</button>
        </form>
        <!-- <a href="/<%= MessageID %>/instructor/clear" id="clearMessagesLinkID" class="btn btn-danger" style="font-weight: bold; float: right;" hidden>Clear Messages</a> -->
<br/>
<br/>
<br/>
        <form method="POST" action="/<%= MessageID %>/instructor">
            <div class="jumbotron">
                <h1 class="display-4">Instructor</h1>
                <h1 class="display-4">Send Message</h1>
                <h6>Only post questions about the eSA in this chat room. If you breach any of the assessment regulations or instructions by posting the answers in the chat room, you are liable to disciplinary action.</h6>
                <br>
                <input id="name" name="name" class="form-control" placeholder="Name (Module Group)" required>
                <br>
                <textarea id="message" name="message" class="form-control" placeholder="Your Message Here" required></textarea>
                <br>
                <button id="send" type="submit" class="btn btn-success">Send</button>
            </div>
            </form>

    <% } %>

    <% if(isInstructor == 'false') { %>
        <div style="width: 45%; float: left;" id="MyMessage">
            <h3 style="text-decoration: underline;">My Message</h3>

        </div>
    <div style="width: 50%; float: right;" id="messagesStudent<%= MessageID %>">
        <h3 style="text-decoration: underline;">Broadcast</h3>
        <% for(var i = 0; i < theMessages.length - 2; i++) { %>
            <% if(theMessages[i].owner == 'Student') { %>
                <% if(theMessages[i].state == 'hidden') { %>
                <div id="<%= theMessagesIDs[i] %>" style="background-color: #99ffbb; display: none;">
                    <!-- <div class="state" hidden><%= theMessagesIDs[i] %><%= theMessages[i].state %></div> -->
                        <h4><%= theMessages[i].name %></h4>
                        <p><%= theMessages[i].message %></p>
                </div>
                <% } else { %>
                    <div id="<%= theMessagesIDs[i] %>" style="background-color: #99ffbb; display: block;">
                        <!-- <div class="state" hidden><%= theMessagesIDs[i] %><%= theMessages[i].state %></div> -->
                            <h4><%= theMessages[i].name %></h4>
                            <p><%= theMessages[i].message %></p>
                    </div>
                <% } %>

            <% } else { %>
                <% if(theMessages[i].state == 'hidden') { %>
                <div id="<%= theMessagesIDs[i] %>" style="background-color: #ffffb3; display: none;">
                    <!-- <div class="state" hidden><%= theMessagesIDs[i] %><%= theMessages[i].state %></div> -->
                        <h4 style="color: <%= theMessages[i].textColor %>;"><%= theMessages[i].name %></h4>
                        <p style="color: <%= theMessages[i].textColor %>;"><%= theMessages[i].message %></p>
                </div>
                <% } else { %>
                    <div id="<%= theMessagesIDs[i] %>" style="background-color: #ffffb3; display: block;">
                        <!-- <div class="state" hidden><%= theMessagesIDs[i] %><%= theMessages[i].state %></div> -->
                            <h4 style="color: <%= theMessages[i].textColor %>;"><%= theMessages[i].name %></h4>
                            <p style="color: <%= theMessages[i].textColor %>;"><%= theMessages[i].message %></p>
                    </div>
                <% } %>    
            <% } %>
        <% } %>

    </div>
    <% } else{ %>
        <div id="messagesInstructor<%= MessageID %>">
            <% for(var i = 0; i < theMessages.length - 2; i++) { %>
                <div id="Instructor<%= theMessagesIDs[i] %>" style="background-color: <%= theMessages[i].backgroundTextColor %>;">
                    <% if(theMessages[i].state != 'visible') { %>
                    <a href="/<%= MessageID %>/instructor/<%= theMessagesIDs[i] %>/broadcast" class="btn clever-btn btn-2" style="float: right; font-size: large; font-weight: bold;">Broadcast</a>
                    <% } else { %>
                    <a href="/<%= MessageID %>/instructor/<%= theMessagesIDs[i] %>/hide" class="btn clever-btn btn-2" style="float: right; font-size: large; font-weight: bold;">Hide</a>
                    <% } %>
                    <h4 style="color: <%= theMessages[i].textColor %>;"><%= theMessages[i].name %></h4>
                <p style="color: <%= theMessages[i].textColor %>;"><%= theMessages[i].message %></p>
                </div>
            <% } %>
        </div>
    <% } %>
</div>
<% if(isInstructor == 'false') { %>
    <div id="PendingMessagesDivID" hidden>
        <p id="PendingMessageName"><%= OwnMessageName %></p>
        <p id="PendingMessage"><%= OwnMessage %></p>
    </div>
<% } %>

<!-- Modal -->
<div id="ModalPopUpForDeletion">
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel"></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" id="modal-bodyID">
              Are you sure to clear all messages in this chat room?
          </div>
          <div class="modal-footer" id="modalfooter" name="modalfooter">
            <button type="button" class="btn btn-secondary" style="font-weight: bold;" data-dismiss="modal">Cancel</button>
            <button type="button" name="ConfirmDeleteBtnInModal" id="ConfirmDeleteBtnInModal" class="btn btn-danger" style="font-weight: bold;">Yes</button>
          </div>
        </div>
      </div>
    </div>
  </div>
<script>
   var socket = io();
    $(() => {
        // var noOfDivForstate = $('.state').length;
        //     var DivForstateIndex = 0;
        //     do {
        //         var DivForstateIDvar = $('.state').eq(DivForstateIndex);
        //         DivForstateIndex++;
        //         DivForstateIDvar.attr("id", "state" + DivForstateIndex);
        //     } while (DivForstateIndex < noOfDivForstate);

        //     for(f = 0; f < noOfDivForstate; f++){
        //         var messageidAndState = document.getElementById("state" + (f+1)).innerHTML;

        //         if(messageidAndState.substring(messageidAndState.length - 6) == 'hidden'){
        //             var GetMsgID = messageidAndState.substring(0, messageidAndState.length - 6)
        //             $("#" + GetMsgID).hide();
        //         }
        //     }


        var storedHasSth = 0;
        var myMessageName = document.getElementById("PendingMessageName").innerHTML;
        var myMessage = document.getElementById("PendingMessage").innerHTML;
        // var myMessageCurrentState = document.getElementById("PendingMessageCurrentState").innerHTML;

        var myMessageNameStored = JSON.parse(sessionStorage.getItem("OwnMessageName"));
        var myMessageStored = JSON.parse(sessionStorage.getItem("OwnMessage"));
        // var myMessageCurrentStateStored = JSON.parse(sessionStorage.getItem("OwnMessageCurrentState"));

        if(myMessageNameStored == null || myMessageNameStored == ""){
            storedHasSth = 0;
        }
        else{
            storedHasSth = 1;
        }
        
        if(storedHasSth == 0){
            var MessageNameToAdd = [];
            var MessageToAdd = [];
            // var MessageCurrentStateToAdd = [];

            MessageNameToAdd.push(myMessageName);
            MessageToAdd.push(myMessage);
            // MessageCurrentStateToAdd.push(myMessageCurrentState);

            window.sessionStorage.setItem("OwnMessageName", JSON.stringify(MessageNameToAdd))
            window.sessionStorage.setItem("OwnMessage", JSON.stringify(MessageToAdd))
            // window.sessionStorage.setItem("OwnMessageCurrentState", JSON.stringify(MessageCurrentStateToAdd))
        }
        else{
            var MessageNameToAdd = [];
            var MessageToAdd = [];
            // var MessageCurrentStateToAdd = [];

            for(i = 0; i < myMessageNameStored.length; i++){
                MessageNameToAdd.push(myMessageNameStored[i]);
                MessageToAdd.push(myMessageStored[i]);
                // MessageCurrentStateToAdd.push(myMessageCurrentStateStored[i]);
            }
            MessageNameToAdd.push(myMessageName);
            MessageToAdd.push(myMessage);
            // MessageCurrentStateToAdd.push(myMessageCurrentState);

            window.sessionStorage.setItem("OwnMessageName", JSON.stringify(MessageNameToAdd))
            window.sessionStorage.setItem("OwnMessage", JSON.stringify(MessageToAdd))
            // window.sessionStorage.setItem("OwnMessageCurrentState", JSON.stringify(MessageCurrentStateToAdd))
        }

        myMessageNameStored = JSON.parse(sessionStorage.getItem("OwnMessageName"));
        myMessageStored = JSON.parse(sessionStorage.getItem("OwnMessage"));
        // myMessageCurrentStateStored = JSON.parse(sessionStorage.getItem("OwnMessageCurrentState"));
       
        for(m = 0; m < myMessageNameStored.length; m++){
            if(myMessageNameStored[m] != ""){
                $("#MyMessage").append(`<div style="background-color: #b3b3b3">
                <h4 style="color: black;">${myMessageNameStored[m]}</h4>
                <p style="color: black;">${myMessageStored[m]}</p>
                </div>`)
            }
        }

            
    })

    socket.on('message', addMessages)
    socket.on('messageHide', hideMessages)
    socket.on('messageBroadcast', BroadcastMessages)
    socket.on('messageClear', ClearMessages)

    function addMessages(message){
            if(message.owner == "Instructor"){
                $("#messagesStudent" + message.chatID).append(`<div id="${message.theMsgID}" style="background-color: ${message.backgroundTextColor};"> 
                <h4 style="color: ${message.textColor};"> ${message.name} </h4>
                <p style="color: ${message.textColor};"> ${message.message} </p>
                </div>`)

                $("#messagesInstructor" + message.chatID).append(`<div id="Instructor${message.theMsgID}" style="background-color: ${message.backgroundTextColor};">
                    <a href="/${message.chatID}/instructor/${message.theMsgID}/hide" class="btn clever-btn btn-2" style="float: right; font-size: large; font-weight: bold;">Hide</a>
                    <h4 style="color: ${message.textColor};">${message.name}</h4>
                <p style="color: ${message.textColor};">${message.message}</p>
                </div>`)
            }
            else{
                $("#messagesStudent" + message.chatID).append(`<div id="${message.theMsgID}" style="background-color: #99ffbb; display: none">
                <h4> ${message.name} </h4>
                <p> ${message.message} </p>
                </div>`)
                // $("#" + message.theMsgID).hide();

                $("#messagesInstructor" + message.chatID).append(`<div id="Instructor${message.theMsgID}" style="background-color: ${message.backgroundTextColor};">
                    <a href="/${message.chatID}/instructor/${message.theMsgID}/broadcast" class="btn clever-btn btn-2" style="float: right; font-size: large; font-weight: bold;">Broadcast</a>
                    <h4 style="color: ${message.textColor};">${message.name}</h4>
                <p style="color: ${message.textColor};">${message.message}</p>
                </div>`)
            }

        // $("#messagesInstructor" + message.chatID).append(`<div id="Instructor${message.theMsgID}" style="background-color: ${message.backgroundTextColor};">
        //             <a href="/${message.chatID}/instructor/${message.theMsgID}/hide" class="btn clever-btn btn-2" style="float: right; font-size: large; font-weight: bold;">Hide</a>
        //             <h4 style="color: ${message.textColor};">${message.name}</h4>
        //         <p style="color: ${message.textColor};">${message.message}</p>
        //         </div>`)
    }
    function hideMessages(hiddenMsg){
        // $("#" + hiddenMsg.theMsgID).hide();
        $("#" + hiddenMsg.theMsgID).css({"display": "none"});
        $("#Instructor" + hiddenMsg.theMsgID).css({"background-color": "#b3b3b3"});
        var str = document.getElementById("Instructor" + hiddenMsg.theMsgID).innerHTML;
        str = str.replace("Hide", "Broadcast")
        str = str.replace("/hide", "/broadcast")
        // str = str.replace("/" + hiddenMsg.chatID + "/instructor/" + hiddenMsg.chatID + "/hide", "/" + hiddenMsg.chatID + "/instructor/" + hiddenMsg.chatID + "/unhide")
        $("#Instructor" + hiddenMsg.theMsgID).html(str);
    }
    function BroadcastMessages(hiddenMsg){
        // $("#" + hiddenMsg.theMsgID).show();
        $("#" + hiddenMsg.theMsgID).css({"display": "block"});
        if(hiddenMsg.owner == "Instructor"){
            $("#Instructor" + hiddenMsg.theMsgID).css({"background-color": "#ffffb3"});
        }
        else{
            $("#Instructor" + hiddenMsg.theMsgID).css({"background-color": "#99ffbb"});
        }
        var str = document.getElementById("Instructor" + hiddenMsg.theMsgID).innerHTML;
        str = str.replace("Broadcast", "Hide")
        str = str.replace("/broadcast", "/hide")
        // str = str.replace("/" + hiddenMsg.chatID + "/instructor/" + hiddenMsg.chatID + "/unhide", "/" + hiddenMsg.chatID + "/instructor/" + hiddenMsg.chatID + "/hide")
        $("#Instructor" + hiddenMsg.theMsgID).html(str);
    }
    function ClearMessages(theChatID){
        $("#messagesStudent" + theChatID).html('<h3 style="text-decoration: underline;">Broadcast</h3>');
        $("#messagesInstructor" + theChatID).html('');
    }

    $("#clearMessagesID").click(function(){
        $('#exampleModal').modal('show')
    });

    $('#ModalPopUpForDeletion').on('click', 'button[name$="ConfirmDeleteBtnInModal"]', function () {
        $('#exampleModal').modal('hide');
        $("#clearMessagesBtnID").click()
    });
</script>
</body>
</html>
