<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
  
  <!-- <script>
      $(document).ready(function() {
        $(document).scrollTop($(document).height());    
      });
  </script> -->
</head>
<body>
    <style>
        .privateReply{
            background-color: #E9D9E9;
        }
    </style>
<div class="container">
    <br>
    <%- include('./partials/messages.ejs'); %>
    <% if(isInstructor == 'false') { %>
    <form method="POST" action="/<%= MessageID %>">
        <img style="float: right;  width: 30%; height: 100%;" src="../public/images/nyplogo.gif" alt="NYPLOGO">

    <div class="jumbotron">
        <h1 class="display-4">Lockdown Chat</h1>
        <h6>Only post questions about the eSA in this chat room. If you breach any of the assessment regulations or instructions by posting the answers in the chat room, you are liable to disciplinary action.</h6>
        <br>
    </div>
    </form>
    <% } else{ %>
        <form method="GET" action="/<%= MessageID %>/instructor/clear">
            <button id="clearMessagesID" type="button" data-toggle="modal" data-target="#exampleModal" class="btn btn-danger" style="font-weight: bold; float: right;">Clear All Messages</button>
            <button id="clearMessagesBtnID" type="submit" data-toggle="modal" data-target="#exampleModal" class="btn btn-danger" style="font-weight: bold; float: right;" hidden>Clear All Messages</button>
        </form>
        <!-- <a href="/<%= MessageID %>/instructor/clear" id="clearMessagesLinkID" class="btn btn-danger" style="font-weight: bold; float: right;" hidden>Clear Messages</a> -->
<br/>
<br/>
<br/>
            <img style="float: right; width: 30%;" src="../public/images/nyplogo.gif" alt="NYPLOGO">
            <div class="jumbotron">
                <h1 class="display-4">Instructor</h1>
                <h6>Only post questions about the eSA in this chat room. If you breach any of the assessment regulations or instructions by posting the answers in the chat room, you are liable to disciplinary action.</h6>
                <br>
            </div>

    <% } %>

    <% if(isInstructor == 'false') { %>
            <div style="width: 45%; float: left;" id="MyMessage<%= MessageID %>">
                <h3 style="text-decoration: underline;">My Messages</h3>

            </div>
        <div style="width: 50%; float: right;" id="messagesStudent<%= MessageID %>">
            <h3 style="text-decoration: underline;">Broadcast Messages</h3>
            <% for(var i = 0; i < theMessages.length - 2; i++) { %>
                <% if(theMessages[i].owner == 'Student') { %>
                    <% if(theMessages[i].state == 'hidden') { %>
                    <div id="<%= theMessagesIDs[i] %>" style="background-color: #99ffbb; display: none;">
                            <h4><%= theMessages[i].name %></h4>
                            <p><%= theMessages[i].message %></p>
                            <p style="text-align: right;"><%= theMessages[i].dateTime %></p>
                    </div>
                    <% } else { %>
                        <div id="<%= theMessagesIDs[i] %>" style="background-color: #99ffbb; display: block;">
                                <h4><%= theMessages[i].name %></h4>
                                <p><%= theMessages[i].message %></p>
                            <p style="text-align: right;"><%= theMessages[i].dateTime %></p>
                        </div>
                    <% } %>

                <% } else { %>
                    <% if(theMessages[i].state == 'hidden') { %>
                    <div id="<%= theMessagesIDs[i] %>" style="background-color: #ffffb3; display: none;">
                            <h4 style="color: <%= theMessages[i].textColor %>;"><%= theMessages[i].name %></h4>
                            <p style="color: <%= theMessages[i].textColor %>;"><%= theMessages[i].message %></p>
                            <p style="color: <%= theMessages[i].textColor %>; text-align: right;"><%= theMessages[i].dateTime %></p>
                    </div>
                    <% } else { %>
                        <div id="<%= theMessagesIDs[i] %>" style="background-color: #ffffb3; display: block;">
                                <h4 style="color: <%= theMessages[i].textColor %>;"><%= theMessages[i].name %></h4>
                                <p style="color: <%= theMessages[i].textColor %>;"><%= theMessages[i].message %></p>
                                <p style="color: <%= theMessages[i].textColor %>; text-align: right;"><%= theMessages[i].dateTime %></p>
                        </div>
                    <% } %>
                <% } %>
            <% } %>

        </div>
    <% } else{ %>
        <div id="messagesInstructor<%= MessageID %>">
            <% for(var i = 0; i < theMessages.length - 2; i++) { %>
                <div id="Instructor<%= theMessagesIDs[i] %>" style="background-color: <%= theMessages[i].backgroundTextColor %>;">
                    <!-- If message is not by instructor (it is student), have the reply button there -->
                        <% if(theMessages[i].owner == 'Student') { %>
                            <% if(theMessages[i].state == 'hidden') { %>
                                    <button id="replyOpenFormBtn<%= theMessagesIDs[i] %>" onclick="reply_click(this.id)" type="button" class="btn btn-link" style="float: right; font-size: large; font-weight: bold; display: block;">Reply</button>
                                <% } else { %>
                                    <button id="replyOpenFormBtn<%= theMessagesIDs[i] %>" onclick="reply_click(this.id)" type="button" class="btn btn-link" style="float: right; font-size: large; font-weight: bold; display: none;">Reply</button>
                                <% } %>
                        <% } %>
                    <% if(theMessages[i].state != 'visible') { %>
                            <% if(MsgIDOfrepliesArray.length > 0) { %>
                                    <% for(var a = 0; a < MsgIDOfrepliesArray.length; a++) { %>
                                            <% if(MsgIDOfrepliesArray[a] == theMessagesIDs[i]) { %>
                                                <a href="/<%= MessageID %>/instructor/<%= theMessagesIDs[i] %>/broadcast" id="broadcastLinkBtn<%= theMessagesIDs[i] %>" class="btn clever-btn btn-2" style="float: right; font-size: large; font-weight: bold; display: none;">Broadcast</a>
                                                <% break %>
                                            <% } else { %>
                                                <% if((a + 1) == MsgIDOfrepliesArray.length) { %>
                                                    <a href="/<%= MessageID %>/instructor/<%= theMessagesIDs[i] %>/broadcast" id="broadcastLinkBtn<%= theMessagesIDs[i] %>" class="btn clever-btn btn-2" style="float: right; font-size: large; font-weight: bold; display: block;">Broadcast</a>
                                                <% } %>
                                            <% } %>
                                    <% } %>
                            <% } else { %>
                        <a href="/<%= MessageID %>/instructor/<%= theMessagesIDs[i] %>/broadcast" id="broadcastLinkBtn<%= theMessagesIDs[i] %>" class="btn clever-btn btn-2" style="float: right; font-size: large; font-weight: bold; display: block;">Broadcast</a>
                        <% } %>

                    <% } else { %>
                    <a href="/<%= MessageID %>/instructor/<%= theMessagesIDs[i] %>/hide" id="hideLinkBtn<%= theMessagesIDs[i] %>" class="btn clever-btn btn-2" style="float: right; font-size: large; font-weight: bold;">Hide</a>
                    <% } %>
                    <h4 style="color: <%= theMessages[i].textColor %>;"><%= theMessages[i].name %></h4>
                <p style="color: <%= theMessages[i].textColor %>;"><%= theMessages[i].message %></p>
                <p style="color: <%= theMessages[i].textColor %>; text-align: right;"><%= theMessages[i].dateTime %></p>
                </div>
                    <div id="RepliesAtInstructor<%= theMessagesIDs[i] %>">
                        <% for(var a = 0; a < MsgIDOfrepliesArray.length; a++) { %>
                            <% if(MsgIDOfrepliesArray[a] == theMessagesIDs[i]) { %>
                                    <div id="RepliesByInstructor<%= repliesIDArray[a] %>" style="background-color: <%= repliesArray[a].backgroundTextColor %>;">
                                        <% if(repliesArray[a].state == 'visible') { %>
                                            <a href="/<%= MessageID %>/instructor/<%= theMessagesIDs[i] %>/<%= repliesIDArray[a] %>/hideReply" id="hideReplyLinkBtn<%= repliesIDArray[a] %>" class="btn clever-btn btn-2" style="float: right; font-size: large; font-weight: bold;">Hide Reply</a>
                                            <% } else { %>
                                            <a href="/<%= MessageID %>/instructor/<%= theMessagesIDs[i] %>/<%= repliesIDArray[a] %>/unhideReply" id="unhideReplyLinkBtn<%= repliesIDArray[a] %>" class="btn clever-btn btn-2" style="float: right; font-size: large; font-weight: bold;">Unhide Reply</a>
                                            <% } %>
                                    <h4 style="color: <%= repliesArray[a].textColor %>;"><%= repliesArray[a].name %> <i class="fas fa-long-arrow-alt-right"></i> <%= theMessages[i].name %></h4>
                                    <p style="color: <%= repliesArray[a].textColor %>;"><%= repliesArray[a].message %></p>
                                    <p style="color: <%= repliesArray[a].textColor %>; text-align: right;"><%= repliesArray[a].dateTime %></p>
                                </div>
                            <% } %>
                        <% } %>
                    </div>
                <form method="POST" action="/<%= MessageID %>/instructor/<%= theMessagesIDs[i] %>/reply">
                    <div class="jumbotron privateReply" id="replyForm<%= theMessagesIDs[i] %>" style="display: none;">
                        <button id="replyCloseFormBtn<%= theMessagesIDs[i] %>" onclick="replyFormClose_Click(this.id)" class="btn btn-danger" style="float: right;" type="button"><i class="fas fa-times"></i></button>
                        <h1 class="display-4">Private Reply</h1>
                        <br/>
                        <input id="replyName" name="replyName" class="form-control" placeholder="Name" required>
                        <br>
                        <textarea id="replyMessage" name="replyMessage" class="form-control" placeholder="Your Message Here" required></textarea>
                        <br>
                        <button id="replyBtn" type="submit" class="btn btn-success">Reply</button>
                    </div>
                </form>
            <% } %>
        </div>
    <% } %>
</div>

<% if(isInstructor == 'true') { %>
<br/>
        <form method="POST" action="/<%= MessageID %>/instructor">
            <div class="jumbotron">
                <h1 class="display-4">Broadcast Message</h1>
                <br>
                <input id="name" name="name" class="form-control" placeholder="Name" required>
                <br>
                <textarea id="message" name="message" class="form-control" placeholder="Your Message Here" required></textarea>
                <br>
                <button id="send" type="submit" class="btn btn-success">Send</button>
            </div>
            </form>

<% } else { %>
    <br/>
    <br/>
    <br/>
    <div style="clear: both;">
    <form method="POST" action="/<%= MessageID %>">
    <div class="jumbotron">
        <h1 class="display-4">Send Message</h1>
        <br>
        <input id="name" name="name" class="form-control" placeholder="Name (Module Group)" required>
        <br>
        <textarea id="message" name="message" class="form-control" placeholder="Your Message Here" required></textarea>
        <br>
        <button id="send" type="submit" class="btn btn-success">Send</button>
    </div>
    </form>
</div>
<% } %>

<% if(isInstructor == 'false') { %>
    <div id="PendingMessagesDivID" hidden>
        <p id="PendingChatID"><%= MessageID %></p>
        <p id="PendingMessageName"><%= OwnMessageName %></p>
        <p id="PendingMessage"><%= OwnMessage %></p>
        <p id="PendingMessageID"><%= OwnMessageID %></p>
        <p id="PendingMessageDateTime"><%= OwnMessageDateTime %></p>
            <% for(var a = 0; a < MsgIDOfrepliesArray.length; a++) { %>
                <p id="PendingRepliesMsgID<%= [a] %>" class="msgIDofreplies"><%= MsgIDOfrepliesArray[a] %></p>
                <p id="PendingRepliesName<%= [a] %>"><%= repliesArray[a].name %></p>
                <p id="PendingRepliesMessage<%= [a] %>"><%= repliesArray[a].message %></p>
                <p id="PendingRepliesID<%= [a] %>"><%= repliesIDArray[a] %></p>
                <p id="PendingRepliesDateTime<%= [a] %>"><%= repliesArray[a].dateTime %></p>
                <p id="PendingRepliesState<%= [a] %>"><%= repliesArray[a].state %></p>
            <% } %>
    </div>
<% } %>

<!-- Modal -->
<div id="ModalPopUpForDeletion">
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel"></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" id="modal-bodyID">
              Are you sure to clear all messages in this chat room?
          </div>
          <div class="modal-footer" id="modalfooter" name="modalfooter">
            <button type="button" class="btn btn-secondary" style="font-weight: bold;" data-dismiss="modal">Cancel</button>
            <button type="button" name="ConfirmDeleteBtnInModal" id="ConfirmDeleteBtnInModal" class="btn btn-danger" style="font-weight: bold;">Yes</button>
          </div>
        </div>
      </div>
    </div>
  </div>
<script>
   var socket = io();
    $(() => {
        //Fixed the page at bottom whenever postback
        $(document).ready(function() {
        $(document).scrollTop($(document).height());    
      });

        var TheChatID = document.getElementById("PendingChatID").innerHTML;
        //Passing in TheChatID value to set sessionStorage "TheChatID"
        window.sessionStorage.setItem("TheChatID", JSON.stringify(TheChatID))

        //Student sends a message, get the message data from above hidden div
        var storedHasSth = 0;
        var myMessageName = document.getElementById("PendingMessageName").innerHTML;
        var myMessage = document.getElementById("PendingMessage").innerHTML;
        var myMessageID = document.getElementById("PendingMessageID").innerHTML;
        var myMessageDateTime = document.getElementById("PendingMessageDateTime").innerHTML;
        // var myMessageCurrentState = document.getElementById("PendingMessageCurrentState").innerHTML;

        //Get the sessionStorage data (OwnMessageName, OwnMessage, OwnMessageID, OwnMessageDateTime) from the student's sessionStorage
        var myMessageNameStored = JSON.parse(sessionStorage.getItem("OwnMessageName"));
        var myMessageStored = JSON.parse(sessionStorage.getItem("OwnMessage"));
        var myMessageIDStored = JSON.parse(sessionStorage.getItem("OwnMessageID"));
        var myMessageDateTimeStored = JSON.parse(sessionStorage.getItem("OwnMessageDateTime"));
        // var myMessageCurrentStateStored = JSON.parse(sessionStorage.getItem("OwnMessageCurrentState"));

        //If there no message, the student's sessionStorage is empty
        if(myMessageNameStored == null || myMessageNameStored == ""){
            storedHasSth = 0;
        }
        else{
            storedHasSth = 1;
        }

        //If sessionStorage is empty, push new message sent to Array and set/pass it into sessionStorage
        //This is so that everytime message is sent by student, system is able to identify the message sent by the browser
        if(storedHasSth == 0){
            var MessageNameToAdd = [];
            var MessageToAdd = [];
            var MessageIDToAdd = [];
            var MessageDateTimeToAdd = [];
            // var MessageCurrentStateToAdd = [];

            MessageNameToAdd.push(myMessageName);
            MessageToAdd.push(myMessage);
            MessageIDToAdd.push(myMessageID);
            MessageDateTimeToAdd.push(myMessageDateTime);
            // MessageCurrentStateToAdd.push(myMessageCurrentState);

            window.sessionStorage.setItem("OwnMessageName", JSON.stringify(MessageNameToAdd))
            window.sessionStorage.setItem("OwnMessage", JSON.stringify(MessageToAdd))
            window.sessionStorage.setItem("OwnMessageID", JSON.stringify(MessageIDToAdd))
            window.sessionStorage.setItem("OwnMessageDateTime", JSON.stringify(MessageDateTimeToAdd))
            // window.sessionStorage.setItem("OwnMessageCurrentState", JSON.stringify(MessageCurrentStateToAdd))
        }
        else{
            //If sessionStorage is not empty, add the already stored message data in sessionStorage and the new message into the array
            //Then set it to session storage as one
            //This shows that the messages are sent by this specific student's browser
            var MessageNameToAdd = [];
            var MessageToAdd = [];
            var MessageIDToAdd = [];
            var MessageDateTimeToAdd = [];
            // var MessageCurrentStateToAdd = [];

            for(i = 0; i < myMessageNameStored.length; i++){
                MessageNameToAdd.push(myMessageNameStored[i]);
                MessageToAdd.push(myMessageStored[i]);
                MessageIDToAdd.push(myMessageIDStored[i]);
                MessageDateTimeToAdd.push(myMessageDateTimeStored[i]);
                // MessageCurrentStateToAdd.push(myMessageCurrentStateStored[i]);
            }
            MessageNameToAdd.push(myMessageName);
            MessageToAdd.push(myMessage);
            MessageIDToAdd.push(myMessageID);
            MessageDateTimeToAdd.push(myMessageDateTime);
            // MessageCurrentStateToAdd.push(myMessageCurrentState);

            window.sessionStorage.setItem("OwnMessageName", JSON.stringify(MessageNameToAdd))
            window.sessionStorage.setItem("OwnMessage", JSON.stringify(MessageToAdd))
            window.sessionStorage.setItem("OwnMessageID", JSON.stringify(MessageIDToAdd))
            window.sessionStorage.setItem("OwnMessageDateTime", JSON.stringify(MessageDateTimeToAdd))
            // window.sessionStorage.setItem("OwnMessageCurrentState", JSON.stringify(MessageCurrentStateToAdd))
        }

        //Here gets the full stored sessionStorage message data
        myMessageNameStored = JSON.parse(sessionStorage.getItem("OwnMessageName"));
        myMessageStored = JSON.parse(sessionStorage.getItem("OwnMessage"));
        myMessageIDStored = JSON.parse(sessionStorage.getItem("OwnMessageID"));
        myMessageDateTimeStored = JSON.parse(sessionStorage.getItem("OwnMessageDateTime"));
        // myMessageCurrentStateStored = JSON.parse(sessionStorage.getItem("OwnMessageCurrentState"));


        //***This is for replies to specific student's browser***
        var PendingRepliesMsgID = [];
        var PendingRepliesName = [];
        var PendingRepliesMessage = [];
        var PendingRepliesID = [];
        var PendingRepliesDateTime = [];
        var PendingRepliesState = [];


        var noOfmsgIDofreplies = $('.msgIDofreplies').length;      //Getting the number of replies to the specific message
        var msgIDofrepliesIndex = 0;
            if(noOfmsgIDofreplies != 0){
                do {
                    //If have replies push them to Array
                    PendingRepliesMsgID.push(document.getElementById("PendingRepliesMsgID" + msgIDofrepliesIndex).innerHTML);
                    PendingRepliesName.push(document.getElementById("PendingRepliesName" + msgIDofrepliesIndex).innerHTML);
                    PendingRepliesMessage.push(document.getElementById("PendingRepliesMessage" + msgIDofrepliesIndex).innerHTML);
                    PendingRepliesID.push(document.getElementById("PendingRepliesID" + msgIDofrepliesIndex).innerHTML);
                    PendingRepliesDateTime.push(document.getElementById("PendingRepliesDateTime" + msgIDofrepliesIndex).innerHTML);
                    PendingRepliesState.push(document.getElementById("PendingRepliesState" + msgIDofrepliesIndex).innerHTML);
                    msgIDofrepliesIndex++;
                } while (msgIDofrepliesIndex < noOfmsgIDofreplies);
            }
        //***This is for replies to specific student's browser***

            //Foreach message stored in sessionStorage
            //Add the message to the student's My Message
            for(m = 0; m < myMessageNameStored.length; m++){
                if(myMessageNameStored[m] != ""){
                    $("#MyMessage" + TheChatID).append(`<div id="OwnMessageID${myMessageIDStored[m]}" style="background-color: #b3b3b3">
                    <h4 style="color: black;">${myMessageNameStored[m]}</h4>
                    <p style="color: black;">${myMessageStored[m]}</p>
                    <p style="color: black; text-align:right;">${myMessageDateTimeStored[m]}</p>
                    </div> 
                    <div id="RepliesAtStudent${myMessageIDStored[m]}">
                    </div>`)

                    //If the reply message id == to the message id, add the reply to the student's my message
                    for(r = 0; r < PendingRepliesMsgID.length; r++){
                        if(PendingRepliesMsgID[r] == myMessageIDStored[m]){
                            $("#RepliesAtStudent" + PendingRepliesMsgID[r]).append(`<div id="RepliesToStudent${PendingRepliesID[r]}">
                                                        <h4 style="color: blue;">${PendingRepliesName[r]}</h4>
                                                        <p style="color: blue;">${PendingRepliesMessage[r]}</p>
                                                        <p style="color: blue; text-align: right;">${PendingRepliesDateTime[r]}</p>
                                                    </div>`)
                            //For the hide and unhide reply
                            if(PendingRepliesState[r] == 'hidden'){
                                $("#RepliesToStudent" + PendingRepliesID[r]).css({"display": "none"});
                            }
                        }
                    }
                
                }
            }

        
            
    })

    //Socket io gets the back end data to front-end
    socket.on('message', addMessages)
    socket.on('messageHide', hideMessages)
    socket.on('messageBroadcast', BroadcastMessages)
    socket.on('messageClear', ClearMessages)
    socket.on('repliesAdded', repliesAdded)
    socket.on('messageReplyHide', messageReplyHide)
    socket.on('messageReplyUnhide', messageReplyUnhide)
    
    //Add message to student's broadcast and instructor site
    function addMessages(message){
        //Appending the message specific chat room
            if(message.owner == "Instructor"){                  //If new message sent is by instructor, display it in student and instructor site visible
                $("#messagesStudent" + message.chatID).append(`<div id="${message.theMsgID}" style="background-color: ${message.backgroundTextColor};">
                <h4 style="color: ${message.textColor};"> ${message.name} </h4>
                <p style="color: ${message.textColor};"> ${message.message} </p>
                <p style="color: ${message.textColor}; text-align: right;">${message.dateTime}</p>
                </div>`)

                $("#messagesInstructor" + message.chatID).append(`<div id="Instructor${message.theMsgID}" style="background-color: ${message.backgroundTextColor};">
                    <a href="/${message.chatID}/instructor/${message.theMsgID}/hide" class="btn clever-btn btn-2" style="float: right; font-size: large; font-weight: bold;">Hide</a>
                    <h4 style="color: ${message.textColor};">${message.name}</h4>
                <p style="color: ${message.textColor};">${message.message}</p>
                <p style="color: ${message.textColor}; text-align: right;">${message.dateTime}</p>
                </div>`)
            }
            else{                                                //If new message sent is by student, display it in student hidden because the instructor needs to broadcast it to be visible for all students
                $("#messagesStudent" + message.chatID).append(`<div id="${message.theMsgID}" style="background-color: #99ffbb; display: none">
                <h4> ${message.name} </h4>
                <p> ${message.message} </p>
                <p style="text-align: right;">${message.dateTime}</p>
                </div>`)
                                                                //Instructor will have the reply function to reply to the specific student's message
                $("#messagesInstructor" + message.chatID).append(`<div id="Instructor${message.theMsgID}" style="background-color: ${message.backgroundTextColor};">
                    <button id="replyOpenFormBtn${message.theMsgID}" onclick="reply_click(this.id)" type="button" class="btn btn-link" style="float: right; font-size: large; font-weight: bold; display: block;">Reply</button>
                    <a href="/${message.chatID}/instructor/${message.theMsgID}/broadcast" id="broadcastLinkBtn${message.theMsgID}" class="btn clever-btn btn-2" style="float: right; font-size: large; font-weight: bold;">Broadcast</a>
                    <h4 style="color: ${message.textColor};">${message.name}</h4>
                <p style="color: ${message.textColor};">${message.message}</p>
                <p style="color: ${message.textColor}; text-align: right;">${message.dateTime}</p>
            </div>
                <div id="RepliesAtInstructor${message.theMsgID}"></div>
                <form method="POST" action="/${message.chatID}/instructor/${message.theMsgID}/reply">
                    <div class="jumbotron privateReply" id="replyForm${message.theMsgID}" style="display: none;">
                        <button id="replyCloseFormBtn${message.theMsgID}" onclick="replyFormClose_Click(this.id)" class="btn btn-danger" style="float: right;" type="button"><i class="fas fa-times"></i></button>
                        <h1 class="display-4">Private Reply</h1>
                        <br/>
                        <input id="replyName" name="replyName" class="form-control" placeholder="Name" required>
                        <br>
                        <textarea id="replyMessage" name="replyMessage" class="form-control" placeholder="Your Message Here" required></textarea>
                        <br>
                        <button id="replyBtn" type="submit" class="btn btn-success">Reply</button>
                    </div>
                </form>`)
            }
    }

    //Hide function - student hidden, instructor visible but grey background color, links will change to broadcast function for reverse
    function hideMessages(hiddenMsg){
        $("#" + hiddenMsg.theMsgID).css({"display": "none"});
        $("#Instructor" + hiddenMsg.theMsgID).css({"background-color": "#b3b3b3"});
        var str = document.getElementById("Instructor" + hiddenMsg.theMsgID).innerHTML;
        str = str.replace("Hide", "Broadcast")
        str = str.replace("/hide", "/broadcast")
        str = str.replace("hideLinkBtn", "broadcastLinkBtn")
        $("#Instructor" + hiddenMsg.theMsgID).html(str);

        $("#replyOpenFormBtn" + hiddenMsg.theMsgID).css({"display": "block"});
    }

    //Broadcast function - student visible, instructor visible, links will change to hide function for reverse
    function BroadcastMessages(hiddenMsg){
        $("#" + hiddenMsg.theMsgID).css({"display": "block"});
        if(hiddenMsg.owner == "Instructor"){
            $("#Instructor" + hiddenMsg.theMsgID).css({"background-color": "#ffffb3"});
        }
        else{
            $("#Instructor" + hiddenMsg.theMsgID).css({"background-color": "#99ffbb"});
        }
        var str = document.getElementById("Instructor" + hiddenMsg.theMsgID).innerHTML;
        str = str.replace("Broadcast", "Hide")
        str = str.replace("/broadcast", "/hide")
        str = str.replace("broadcastLinkBtn", "hideLinkBtn")
        $("#Instructor" + hiddenMsg.theMsgID).html(str);

        $("#replyOpenFormBtn" + hiddenMsg.theMsgID).css({"display": "none"});

    }

    //When instructor clicks "Clear all messages" in the chat room
    function ClearMessages(theChatID){
        $("#MyMessage" + theChatID).html('<h3 style="text-decoration: underline;">My Messages</h3>');
        $("#messagesStudent" + theChatID).html('<h3 style="text-decoration: underline;">Broadcast Messages</h3>');
        $("#messagesInstructor" + theChatID).html('');

        var TheChatIDStored = JSON.parse(sessionStorage.getItem("TheChatID"));  //Clearing sessionStorage only for students in the chat room not other students in another chat room
        if(TheChatIDStored == theChatID){
            sessionStorage.clear();
        }
    }

    $("#clearMessagesID").click(function(){
        $('#exampleModal').modal('show')
    });

    $('#ModalPopUpForDeletion').on('click', 'button[name$="ConfirmDeleteBtnInModal"]', function () {
        $('#exampleModal').modal('hide');
        $("#clearMessagesBtnID").click()
    });

    //Display Private reply form
    function reply_click(replyOpenFormBtnID){
        var MsgIDOfreplyOpenFormBtn = replyOpenFormBtnID.substring(16)
        $("#replyForm" + MsgIDOfreplyOpenFormBtn).css({"display": "block"});
    }

    //Close Private reply form
    function replyFormClose_Click(replyCloseFormBtnID){
        var MsgIDOfreplyCloseFormBtn = replyCloseFormBtnID.substring(17)
        $("#replyForm" + MsgIDOfreplyCloseFormBtn).css({"display": "none"});
    }

    //Instructor adds a reply to a student's message
    function repliesAdded(theReply){
        $("#broadcastLinkBtn" + theReply.theMsgID).css({"display": "none"});            //****No broadcast for messages with replies because it is private****
                        //Append the new reply to instructor and student
        $("#RepliesAtInstructor" + theReply.theMsgID).append(`<div id="RepliesByInstructor${theReply.replyID}">
            <a href="/${theReply.chatID}/instructor/${theReply.theMsgID}/${theReply.replyID}/hideReply" id="hideReplyLinkBtn${theReply.replyID}" class="btn clever-btn btn-2" style="float: right; font-size: large; font-weight: bold;">Hide Reply</a>
                                                    <h4 style="color: ${theReply.textColor};">${theReply.replyName} <i class="fas fa-long-arrow-alt-right"></i> ${theReply.MsgName}</h4>
                                                    <p style="color: ${theReply.textColor};">${theReply.replyMessage}</p>
                                                    <p style="color: ${theReply.textColor}; text-align: right;">${theReply.dateTime}</p>
                                                </div>`)
        //display replies first (after clicking reply button) then io to append the replies
        $("#RepliesAtStudent" + theReply.theMsgID).append(`<div id="RepliesToStudent${theReply.replyID}">
                                                    <h4 style="color: ${theReply.textColor};">${theReply.replyName}</h4>
                                                    <p style="color: ${theReply.textColor};">${theReply.replyMessage}</p>
                                                    <p style="color: ${theReply.textColor}; text-align: right;">${theReply.dateTime}</p>
                                                </div>`)

    }

    //Instructor hides reply
    function messageReplyHide(replyMsg){
        $("#RepliesToStudent" + replyMsg.replyID).css({"display": "none"});
        $("#RepliesByInstructor" + replyMsg.replyID).css({"background-color": "#b3b3b3"});
        var str = document.getElementById("RepliesByInstructor" + replyMsg.replyID).innerHTML;
        str = str.replace("Hide Reply", "Unhide Reply")
        str = str.replace("/hideReply", "/unhideReply")
        str = str.replace("hideReplyLinkBtn", "unhideReplyLinkBtn")
        $("#RepliesByInstructor" + replyMsg.replyID).html(str);
    }

    //Instructor unhide reply
    function messageReplyUnhide(replyMsg){
        $("#RepliesToStudent" + replyMsg.replyID).css({"display": "block"});
        $("#RepliesByInstructor" + replyMsg.replyID).css({"background-color": "white"});
        var str = document.getElementById("RepliesByInstructor" + replyMsg.replyID).innerHTML;
        str = str.replace("Unhide Reply", "Hide Reply")
        str = str.replace("/unhideReply", "/hideReply")
        str = str.replace("unhideReplyLinkBtn", "hideReplyLinkBtn")
        $("#RepliesByInstructor" + replyMsg.replyID).html(str);
    }
</script>
</body>
</html>
